<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="public/css/bootstrap/bootstrap.min.css">
    <script src="public/js/jquery/jquery.min.js"></script>
    <script src="public/js/bootstrap/bootstrap.min.js"></script>
    <!-- Fin Bootstrap -->

    <title>E-Boutique</title>
</head>
<body>

<header></header>

<div class="container">
    <h1>Titre de la page</h1>
    <p>Contenu de la page.</p>
    <button class="btn btn-primary">Bouton Bootstrap</button>
</div>

<footer></footer>

</body>
</html>
