<!DOCTYPE html>
<html lang="fr">
<head>
    <!--
        Projet : Mon Site Web E-Commerce
        Auteur : Julien Larzul
        Description : Fichier HTML de notre site E-Commerce avec des commentaires détaillés.
        Date de création : 25/11/2023
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/bootstrap/bootstrap.min.css">
    <!--link CSS-->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/style.css">
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/politique_confidentialite.css">


    <!-- Icônes Favicon -->
    <link rel="icon" href="/ProjetPHP/php-e-boutique/ECommerce/public/image/favicon.ico" type="image/x-icon">

    <!--ADD Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <title>Boutique Française</title>
</head>
<body>
<!-- En-tête du site -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <!--
        Projet : Mon Site Web E-Commerce
        Auteur : Julien Larzul
        Description : Fichier HTML de notre site E-Commerce avec des commentaires détaillés.
        Date de création : 26/11/2023
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/bootstrap/bootstrap.min.css">
    <!--link CSS-->
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/style.css">
    <link rel="stylesheet" href="/ProjetPHP/php-e-boutique/ECommerce/public/css/politique_confidentialite.css">


    <!-- Icônes Favicon -->
    <link rel="icon" href="/ProjetPHP/php-e-boutique/ECommerce/public/image/favicon.ico" type="image/x-icon">

    <!--ADD Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <title>Boutique Française</title>
</head>
<body>
<!-- En-tête du site -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <div class="container container-header d-flex justify-content-between">
            <!-- Logo au milieu -->
            <div class="logo text-center">
                <a href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/index.twig"><img
                            src="/ProjetPHP/php-e-boutique/ECommerce/public/image/logo-web-transparent.png"
                            id="logo-principal"></a>
            </div>

            <!-- Contenu de la barre de navigation -->
            <div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <a class="nav-link link-custom-navbar"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/boissons.twig">Boissons</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link link-custom-navbar"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/biscuits.twig">Biscuits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/fruitssec.twig">Fruits
                                sec</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/ventesflash.twig">vente
                                flash -20%</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/magasins.twig">nos
                                magasins</a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link link-custom-navbar">|</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar-icon"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/compte.twig">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-custom-navbar-icon"
                               href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/panier.twig">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Section principale -->
<main>
    <section>
        <div class="rectangle-politique">
            <h1 class="text-politique">Politique de confidentialité</h1>
        </div>
    </section>
    <div class="mx-5">
        <section id="main-text">
            <div id="colonne-main">
                <span class="title-politique">
                    1. Qui se cache derrière le site web boutiquefrançaise.com ?
                </span>
                <p class="text-politique-bis">
                    <br>
                    Larzul julien, propriétaire du magasin Boutique Française dans le Rhône à Lyon.<br><br>
                    TVA non applicable, art. 243 B du CGI<br>
                    N° SIRET 53137006243022<br>
                    Services des traiteurs 5781Z<br>
                    Numéro TVA Intracommunautaire FR73753370062<br><br><br>
                </p>
                <span class="title-politique">
                    2. Droit à l'image.
                </span>
                <p class="text-politique-bis">
                    <br>
                    Les photos présentes sur le site web boutiquefrançaise.com ne sont pas toutes libres de droit.
                    Cependant,
                    vous pouvez me contacter pour vérifier la possibilité de les utiliser dans vos publications. Il est
                    probable que je vous accorde l’autorisation de les utiliser si leur utilisation n’affecte pas
                    négativement l’image de la marque boutiquefrançaise.com.<br><br><br>
                </p>
                <span class="title-politique">
                    3. Renseignements personnels recueillis (cookies)
                </span>
                <p class="text-politique-bis">
                    <br>
                    Lorsque vous effectuez un achat sur notre boutique, nous collectons des renseignements personnels
                    que vous nous fournissez, tels que votre nom, prénom, adresse, numéro de téléphone et adresse
                    e-mail, dans le cadre de notre processus d’achat et de vente.<br><br>
                    En plus de cela, lorsque vous naviguez sur notre boutique, certaines informations sont
                    automatiquement recueillies, telles que l’adresse de protocole Internet (adresse IP) de votre
                    ordinateur, votre localisation (pays, villes), la durée de votre visite, le parcours de navigation,
                    la page d’entrée, la page de sortie, ainsi que les sources qui vous ont redirigé vers notre site,
                    comme les moteurs de recherche, les réseaux sociaux ou d’autres sites web. Vous pouvez consulter
                    l’ensemble des données utilisables par Matomo à l’adresse suivante :
                    https://fr.matomo.org/faq/general/faq_18254/.<br><br>
                    Toutes ces informations nous aident à mieux comprendre les attentes de nos clients.<br><br><br>
                </p>
                <span class="title-politique">
                    4. Consentement
                </span>
                <p class="text-politique-bis">
                    <br>
                    Comment obtenons-nous votre consentement ?<br><br>

                    Lorsque vous nous fournissez vos renseignements personnels pour effectuer une transaction, vérifier
                    votre carte de crédit, passer une commande, communiquer au sujet des produits que vous achetez,
                    planifier une livraison ou retourner un achat, nous considérons que vous consentez à ce que nous
                    recueillions vos renseignements et les utilisions uniquement à ces fins.<br><br>

                    Comment puis-je retirer mon consentement ?<br><br>

                    Si vous changez d’avis après nous avoir donné votre consentement et que vous ne souhaitez plus être
                    contacté, que nous recueillions ou divulguions vos renseignements, veuillez nous en informer en nous
                    contactant à l’adresse boutiquefrançaise.com.<br><br><br>
                </p>
                <span class="title-politique">
                    5. Sécurité
                </span>
                <p>
                    <br>
                    Nous accordons une grande importance à la protection de vos données personnelles. Pour assurer leur
                    sécurité, nous prenons des précautions raisonnables et adoptons les meilleures pratiques de
                    l’industrie pour éviter toute perte, détournement, consultation, divulgation, modification ou
                    destruction inappropriée.<br><br>

                    Lorsque vous nous fournissez vos informations de carte de crédit, elles sont chiffrées grâce au
                    protocole de sécurisation SSL et stockées avec un chiffrement de type AES-256. Bien que l’absolue
                    sécurité des transmissions sur Internet et du stockage électronique ne puisse être garantie à 100 %,
                    nous respectons toutes les exigences de la norme PCI-DSS et mettons en œuvre des normes
                    supplémentaires largement reconnues par l’industrie.<br><br><br>
                </p>
                <span class="title-politique">
                    6. Âge de consentement
                </span>
                <p>
                    <br>
                    En utilisant ce site, vous affirmez être majeur dans votre État ou province de résidence, et vous
                    nous confirmez avoir obtenu le consentement nécessaire pour permettre à toute personne mineure sous
                    votre responsabilité d’utiliser ce site web.<br><br><br>
                </p>
                <span class="title-politique">
                    7. Modifications apportées à la présente politique de confidentialité
                </span>
                <p>
                    <br>
                    Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, donc nous
                    vous encourageons à la consulter régulièrement. Les changements et les clarifications prendront
                    effet immédiatement après leur publication sur le site web. Si des modifications importantes sont
                    apportées à cette politique, nous vous en informerons ici pour que vous soyez au courant des
                    renseignements que nous recueillons, de la manière dont nous les utilisons et dans quelles
                    circonstances nous les divulguons, le cas échéant.<br><br>

                    En cas d’acquisition ou de fusion de notre boutique avec une autre entreprise, vos renseignements
                    pourront être transférés aux nouveaux propriétaires afin de continuer à vous fournir nos
                    produits.<br><br>

                    Pour toute question ou demande concernant l’accès, la correction, la modification ou la suppression
                    de vos informations personnelles que nous détenons, ou si vous souhaitez déposer une plainte ou
                    obtenir plus d’informations, veuillez vous référer à la section 11 de ce document.<br><br><br>
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <img src="/ProjetPHP/php-e-boutique/ECommerce/public/image/colombe.jpg" id="colombe">
            </div>
        </section>
    </div>
</main>

<!-- Pied de page -->
<footer class="py-3 footer-custom" style="background-color: #f8f6f1;">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div>
            <p class="footer-text">Larzul Julien - Revendeur depuis 1987</p>
        </div>
        <div>
            <p class="footer-text"><a class="nav-link-footer"
                                      href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/conditions_generales.twig">Conditions
                    générales de ventes</a> | <a
                        class="nav-link-footer"
                        href="/ProjetPHP/php-e-boutique/ECommerce/app/View/templates/politique_confidentialite.twig">Politique
                    de confidentialité</a> - &copy; 2023 Boutique
                Française</p>
        </div>
    </div>
</footer>
<!--Bootstrap-->
<script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/jquery/jquery.min.js"></script>
<script src="/ProjetPHP/php-e-boutique/ECommerce/public/js/bootstrap/bootstrap.min.js"></script>
<!--End of Bootstrap-->
</body>
</html>
